.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-color: black;
  border: 1px solid;
  padding: 5px;
}
.buttons-grid {
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 10px;
  justify-content: center;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  border: 1px solid;
  margin: 20px;
  font-size: 15px;
  block-size: 40px;
  color: white;
  background-color: black;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.formating {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 75%;
}
.save-expense-button {
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  border: 1px solid;
  margin-top: 20px;
  font-size: 15px;
  block-size: 40px;
  color: white;
  background-color: black;
  width: 45%;
}
.form-hidden {
  display: none;
}

.expense-list-view {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 5px solid;
  gap: 10px;
  width: 98%;
  overflow-x: auto;
}
.expense-display-card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 3px solid;
  border-radius: 10px;
  width: 200px;
  background-color: rgba(0, 26, 255, 0.585);
  height: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.expense-text-styling {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.delete-expense-button {
  padding: 5px;
  border-radius: 5px;
  width: 50%;
  border-color: black;
  border: 1px solid;
  margin-top: 20px;
  font-size: 15px;
  block-size: 30px;
  color: white;
  background-color: rgba(255, 0, 0, 0.761);
}

.expense-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: auto;
}
.delete-expense {
  display: flex;
  felex-direction: column;
  margin-top: auto;
  /*flex-shrink: 0*/
  ;
  ;
}

body {
  background-color: rgba(255, 94, 0, 0.288);
}

.expense-description {
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.expense-description.expanded {
  display: block;
  line-clamp: unset;
  -webkit-line-clamp: unset;
  overflow: visible;
  overflow-wrap: break-word;
}
